{% extends "base.html" %}

{% load mathfilters %}


{% block content %}

<h1>Spending Analysis</h1>

<div class="alert alert-warning" role="alert">
  This currently does not support Regular/Cash transactions
</div>

<h4>Pile of stats for the last {{ num_days_in_view }} days</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Total</th>
      <th scope="col">Ingested</th>
      <th scope="col">Uningested</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Amount Spent</th>
      <td>£{{ spending_sum_pennies|abs|div:100 }}</td>
      <td>£{{ ingested_sum_pennies|abs|div:100 }}</td>
      <td>£{{ uningested_sum_pennies|abs|div:100 }}</td>
    </tr>
    <tr>
      <th scope="row">Transaction Count</th>
      <td>{{ total_transactions_count }}</td>
      <td>{{ count_ingested }}</td>
      <td>{{ count_uningested }}</td>
    </tr>
  </tbody>
</table>

<h4>Totals by top-level Category</h4>
<p>{{ summary }}</p>

<img src="{{ top_level_category_pi_chart_url }}" style="max-width: 100%;">

<h4>Totals by All Category</h4>
<p>{{ summary_all_cats }}</p>
<img src="{{ top_10_category_pi_chart_url }}" style="max-width: 100%;">

{% endblock %}