{% extends "base.html" %}

{% load mathfilters %}


{% block content %}

<h1>Latest Transaction</h1>
<h4>Metadata</h4>
<p>
  Get transaction time: {{ req_1_secs|floatformat:3 }}s<br>
  <br>
  <h3>Top-level Data</h3>
  ID: {{ monzo_transaction.id }}<br>
  Created: {{ monzo_transaction.created }}<br>
  Description: {{ monzo_transaction.description }}<br>
  Amount: {{ monzo_transaction.amount }}<br>
  Currency: {{ monzo_transaction.currency }}<br>
  Category: {{ monzo_transaction.category }}<br>
  is_load: {{ monzo_transaction.is_load }}<br>
  Local Amount: {{ monzo_transaction.local_amount }}<br>
  Local Currency: {{ monzo_transaction.local_currency }}<br>
  <br>
  <h3>Merchant Data</h3>
  Merchant ID: {{ monzo_transaction.merchant.id }}<br>
  Merchant Name: {{ monzo_transaction.merchant.name }}<br>
  Merchant Logo URL: {{ monzo_transaction.merchant.logo }}<br>
  Merchant Emoji: {{ monzo_transaction.merchant.emoji }}<br>
  Merchant Category: {{ monzo_transaction.merchant.category }}<br>
  Merchant Address: {{ monzo_transaction.merchant.address.formatted }}<br>
  <br>
  <h3>Derived Data</h3>
  <strong>
    Cost: {{ monzo_transaction.amount|abs|div:100 }} {{ monzo_transaction.currency }}<br>
    Local Cost: {{ monzo_transaction.local_amount|abs|div:100 }} {{ monzo_transaction.local_currency }}<br>
    <img src="{{ data.merchant.logo }}" width="30%">
  </strong>
  <br><br><br>
  <h3>Persisted Data</h3>
  <strong>
    TXID: {{ td.id }}<br>
    Assigned Category: {{ td.category }}<br>
    <br>
    Possible Questions:<br>
    <ul>
      {% for q in qs %}
        <li>{{ q.title }} : {{ q.answer_type }}</li>
      {% endfor %}
    </ul>
    QuestionAnswers:<br>
    <ul>
      {% for qa in qas %}
        <li>
          <p>option answer: {{ qa.option_answer }}<br>
            number answer: {{ qa.number_answer }}</p>
        </li>
      {% endfor %}
    </ul>
  </strong>
  <br><br><br>
  <a class="btn btn-dark" href="{% url 'td_new' monzo_transaction.id %}">Create TD</a>
  <br><br><br>
  <h3>Original JSON</h3>
  {{ monzo_transaction|pprint }}<br>

{% endblock %}