<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Django</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/questions">Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/options">Options</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lt">LT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/txid">TXID</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/week">Week</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/spending">Spending</a>
      </li>
    </ul>
  </div>
</nav>