{% extends "base.html" %}


{% block content %}

<h2>Questions</h2>
<ul>
  {% for question in object_list %}
  <li>
    <a href="{% url 'question_detail' question.id %}">
      <p>
        ID: {{ question.id }}<br>
        Title: {{ question.title }}<br>
        Answer type: {{ question.get_answer_type_display }}<br>
        Category ID: {{ question.category.id }}<br>
        Category Name: {{ question.category.name }}<br>
      </p>
    </a>
  </li>
  {% endfor %}
</ul>

<a class="btn btn-dark" href="{% url 'question_new' %}">New Question</a>

{% endblock %}