{% extends "base.html" %}


{% block content %}

<h2>All info associated with the TXID</h2>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">TXID</th>
      <td>{{ object.id }}</td>
    </tr>
    <tr>
      <th scope="row">Assigned Category</th>
      <td>{{ object.category }}</td>
    </tr>
    {% for q in object.applicable_questions %}
      <tr>
        <th scope="row">Category Question</th>
        <td>{{ q.title }} : {{ q.answer_type }}</td>
      </tr>
    {% endfor %}
    {% for qa in object.question_answers %}
      <tr>
        <th scope="row">QuestionAnswer</th>
          {% if qa.option_answer %}
            <td>option answer: {{ qa.option_answer }}</td>
          {% endif %}
          {% if qa.number_answer %}
            <td>number answer: {{ qa.number_answer }}</td>
          {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-danger" href="{% url 'td_delete' object.id %}">Delete TD</a>

{% endblock %}