{% extends "base.html" %}


{% block content %}

<h2>All info associated with the TXID</h2>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">TXID</th>
      <td>{{ td.txid }}</td>
    </tr>
    <tr>
      <th scope="row">Assigned Category</th>
      <td>{{ td.category }}</td>
    </tr>
    {% for q in qs %}
    <tr>
      <th scope="row">Category Question</th>
      <td>{{ q.title }} : {{ q.answer_type }}</td>
    </tr>
    {% endfor %}
      {% for qa in qas %}
    <tr>
      <th scope="row">QuestionAnswer</th>
        {% if qa.option_answer %}
            <td>option answer: {{ qa.option_answer }}</td>
        {% endif %}
        {% if qa.number_answer %}
            <td>number answer: {{ qa.number_answer }}</td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-danger" href="{% url 'txid_delete' td.txid %}">Delete TXID</a>

{% endblock %}