{% extends "base.html" %}

{% load mathfilters %}


{% block content %}

<h2>Week of Monzo Transactions</h2>

<h4>Metadata</h4>
<p>List transactions time: {{ reqs1secs|floatformat:3 }}s</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Desc</th>
      <th scope="col">Created</th>
      <th scope="col">Cost</th>
      <th scope="col">Local</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
      <tr {% if obj.td_obj %}class="table-success"{% endif %}>
        <td>
          {% if obj.td_obj %}
            <a href="{% url 'td_detail' obj.id %}">{{ obj.description }}</a>
          {% else %}
            {{ obj.description }}
          {% endif %}
        </td>
        <td>{{ obj.created }}</td>
        <td>{{ obj.amount|abs|div:100 }} {{ obj.currency }}</td>
        <td>{{ obj.local_amount|abs|div:100 }} {{ obj.local_currency }}</td>
        <td>
          {% if not obj.td_obj %}
            <a class="btn btn-dark" href="{% url 'td_new' obj.id %}">New TD</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}