{% extends "base.html" %}

{% load mathfilters %}


{% block content %}

<h2>Week of Cash</h2>

<h4>Metadata</h4>
<p>List transactions time: {{ req_1_secs|floatformat:3 }}s</p>

<h4>Withdrawals</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Desc</th>
      <th scope="col">Created</th>
      <th scope="col">Cost</th>
      <th scope="col">Local</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
      <tr {% if obj.transaction %}class="table-success"{% endif %}>
        <td>
          {% if obj.transaction %}
            <a href="{% url 'transaction_detail' obj.id %}">{{ obj.description }}</a>
          {% else %}
            {{ obj.description }}
          {% endif %}
        </td>
        <td>{{ obj.created }}</td>
        <td>{{ obj.amount|abs|div:100 }} {{ obj.currency }}</td>
        <td>{{ obj.local_amount|abs|div:100 }} {{ obj.local_currency }}</td>
        <td>
          {% if not obj.transaction %}
            <a class="btn btn-dark" href="{% url 'cash_transaction_new' %}">New Transaction</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Cash Transactions</h4>
<a class="btn btn-dark" href="{% url 'cash_transaction_new' %}">New Cash Transaction</a>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Desc</th>
      <th scope="col">Merchant</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in cash_transactions %}
      <tr>
        <td>{{ obj.description }}</td>
        <td>{{ obj.merchant_name }}</td>
        <td>{{ obj.category }}</td>
        <td>{{ obj.spend_date }}</td>
        <td>{{ obj.amount|abs|div:100 }} GBP</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}