<form method="POST" id="transactionForm"
      data-questions-url="{% url 'ajax_load_questions_for_category' %}"
      data-options-url="{% url 'ajax_load_options_for_question' %}">
  {% csrf_token %}
  {{ form_transaction.as_p }}
  {{ formset_questionanswer.as_p }}
  <input type="submit" name="save" value="Save" class="save btn btn-dark">
  <input type="submit" name="save-and-add-another" value="Save and Add Another" class="save btn btn-light">
</form>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script>
  const noOptionHtml = '<option value="">n/a</option>'

  $(document).ready(function () {
    $("#id_form-0-question").html(noOptionHtml);
    $("#id_form-0-option_answer").parent().hide();
    $("#id_form-0-number_answer").parent().hide();
    $("#id_form-0-number_answer").attr('type', 'tel');
    $("#id_form-1-question").html(noOptionHtml);
    $("#id_form-1-option_answer").parent().hide();
    $("#id_form-1-number_answer").parent().hide();
    $("#id_form-1-number_answer").attr('type', 'tel');
  });

  $("#id_category").change(function () {
    var url = $("#transactionForm").attr("data-questions-url");
    var categoryId = $(this).val();
    if (categoryId === '') { return; }

    $.ajax({
      url: url,
      data: { 'category': categoryId },
      success: function (data) {
        $("#id_form-0-question").html(data);
        $("#id_form-1-question").html(data);
      }
    });

  });

  $("#id_form-0-question").change(function() {
    const formId = 0;
    const questionId = $(this).val();
    questionSelected(formId, questionId);
  });

  $("#id_form-1-question").change(function() {
    const formId = 1;
    const questionId = $(this).val();
    questionSelected(formId, questionId);
  });

  function questionSelected(formId, questionId) {
    var url = $("#transactionForm").attr("data-options-url");

    $.ajax({
      url: url,
      data: { 'question': questionId },
      success: function (data, statusText, xhr) {
        if (xhr.status == 204) {
          // question has a number answer type
          $(`#id_form-${formId}-option_answer`).html(noOptionHtml);
          $(`#id_form-${formId}-option_answer`).parent().hide();
          $(`#id_form-${formId}-number_answer`).parent().show();
        } else {
          // question has a string answer type
          $(`#id_form-${formId}-option_answer`).html(data);
          $(`#id_form-${formId}-option_answer`).parent().show();
          $(`#id_form-${formId}-number_answer`).parent().hide();
        }
      }
    });
  }
</script>